<div class="border-top-thin clearfix mt-2 mt-lg-4">
  <div class="container mx-auto px-2">
    <p class="col-9 sm-width-full left py-2 mb-0">© 2020 by Mert Bulan.</p>
  </div>
</div>

<script>
  (function() {
    var script = document.createElement('script');
    window.counter = 'https://mertbulan.goatcounter.com/count'
    script.async = 1;
    script.src = '//gc.zgo.at/count.js';

    var ins = document.getElementsByTagName('script')[0];
    ins.parentNode.insertBefore(script, ins)
  })();
</script>
