<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title %}
      {{ page.title  | escape }}
    {% else %}
      {{ site.title | escape }}
    {% endif %}
    {% if paginator.page > 1 %} - sayfa {{ paginator.page }}{% endif %}
  </title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="https://mertbulan.com/assets/style.css">

  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ site.base_url }}{{ "/feed.xml" | relative_url }}">
  <meta name="twitter:title" content="{% if page.title %}{{page.title}}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{{ site.url }}/uploads/{% if page.image %}{{page.image}}{% else %}{{ 'ben.jpg' }}{% endif %}">
  <meta property="og:image" content="{{ site.url }}/uploads/{% if page.image %}{{page.image}}{% else %}{{ 'ben.jpg' }}{% endif %}">

  <script type="text/javascript">
    var host = "mertbulan.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
</head>
