<!-- Renders post date, title, and snippet of text. -->
<div class="py-2 mb-2 prose">
  <a class="no-underline h5 bold text-accent" title="{{ post.url | relative_url }}" href="{{ post.url | relative_url }}">
    {% capture date %}{{ post.date }}{% endcapture %}
    {% include date.html %}
  </a>

  <span class="reading-time" title="Estimated read time">
    {% assign words = post.content | number_of_words %}
    {% if words < 360 %}
      | reading time: 1 mins
    {% else %}
      | reading time: {{ words | divided_by:275 }} mins
    {% endif %}
  </span>

  <h2 class="h1-home lh-condensed col-9 mt-0">
    <a class="link-primary" title="{{ post.url | relative_url }}" href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </h2>
  <p>{{ post.content | strip_html | truncatewords:30 }}</p>
</div>
