<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div>
      <header class="header-background">
        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            {%- for my_page in site.pages -%}{%- unless my_page.url contains "index.html" -%}{% if my_page.title %}
            <li class="inline-block">
              <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | relative_url }}" title="{{ my_page.title }}">{{ my_page.title }}</a>
            </li>
            {%- endif -%}{%- endunless -%}{% endfor %}
          </ul>
        </div>
        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1 class="h0 inline-block col-9 sm-width-full py-4 mt-3 header-title">{{ site.title }}</h1>
          <div class="clearfix mb-4 py-1">
            <div class="col-4 sm-width-full left border-top-thin">
              <div class="table">
                <div class="inline-block mt-3 mr-1">
                  <svg height="32" class="header-social-accent" version="1.1" width="32" viewBox="0 0 16 16" aria-hidden="true"><circle cx="8" cy="8" r="8"/></svg>
                </div>
              </div>
            </div>
            <div class="col-10 left">
              <p class="h4 lh-condensed font-smoothing mt-2 py-1" id="quote"></p>
            </div>
          </div>
        </div>
      </header>
      <div class="container mx-auto px-2 py-4">
        {% for post in paginator.posts %}
          {%- include post_block.html -%}
        {% endfor %}
      </div>
    </div>
    {% include pagination.html %}
    {% include footer.html %}
    <script>
      var quotes=["Very little is needed to make a happy life; it is all within yourself, in your way of thinking - Marcus Aurelius","The happiness of your life depends upon the quality of your thoughts. - Marcus Aurelius","We suffer more often in imagination than in reality. - Seneca","No one is most hated than he who speaks the truth. - Plato"];function newQuote(){var e=Math.floor(Math.random()*quotes.length);document.getElementById("quote").innerHTML=quotes[e]}newQuote();
    </script>
  </body>
</html>