---
layout: default
---
<article class="container px-2 mx-auto mb4" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="h0 col-9 sm-width-full py-4 mt-3 inline-block" itemprop="name headline">{{ page.title }}</h1>
  <div class="col-4 sm-width-full mt-1 border-top-thin ">
    <p class="mb-3 py-2 bold h4 inline"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {% capture date %}{{ page.date }}{% endcapture %}
      {% include date.html %}
    </time></p>
    <span class="reading-time" title="Estimated read time">
      {% assign words = content | number_of_words %}
      {% if words < 360 %}
        | reading time: 1 min
      {% else %}
        | reading time: {{ words | divided_by:275 }} min(s)
      {% endif %}
    </span>
  </div>

  <div class="prose" itemprop="articleBody">
      {{ content }}
  </div>

</article>

<div class="share-buttons container px-2 mx-auto mb4">
  <span class="share-text">Share:</span>
  <a class="twitter-share-button" href="http://twitter.com/intent/tweet?text={{page.title}}&url={{site.url}}{{page.url}}&via=mertbulan" rel="nofollow" target="_blank"
  data-size="large">Tweet</a>
</div>

<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next.html %}
</div>

<script async>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));</script>
